/*FONT links by Download*/

@font-face{
	font-family: Merriweather-Regular;
	src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face{
	font-family: Merriweather-Bold;
	src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face{
	font-family: Merriweather-Black;
	src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face{
	font-family: Inter-VariableFont_slnt,wght;
	src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}
@font-face{
	font-family: Inter-Regular;
	src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face{
	font-family: Inter-Bold;
	src: url(../fonts/Inter/Inter-Bold.ttf);
}


/* COMMON SECTION */

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Inter-VariableFont_slnt,wght;
	font-weight: 400;
	color: white;
}
button{
	color: white;
	padding: 7px 32px;
	border: none;
}

/* BANNER SECTION */

.banner{}
.banner_wrapper{
	background-image: url('../images/Banner Image.png');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 177px 244px;
	border-radius: 16px;
}
.banner_wrapper h5{
	font-family: Merriweather-Regular;
	font-size: 32px;
}
.banner_wrapper h2{
	font-family: Merriweather-Bold;
	font-size: 72px;
	line-height: 95px;
}
.offer_wrapper{
	text-align: center;
}
.offer_wrapper h3{
	margin: 20px 0 30px;
	font-size: 88px;
	font-family: Inter-Bold;
	color: #F00;
}
.offer_wrapper p{
	font-family: Inter-Regular;
	font-size: 24px;
	color: #f00;
}
.offer_wrapper h5{
	margin: 16px 0 32px;
	font-family: Inter-Regular;
	font-size: 48px;
	font-weight: 700;
	color: #070211;
}
.offer_wrapper img{
	width: 55%;
}

/* INVITATION SECTION */

.invitation_wrapper{
	background-image: url('../images/Group 70.png'), url('../images/Vectorrr.png');
	background-size: 20%, 80%;
	background-position: 77% 50%, center;
	background-repeat: no-repeat;
	padding: 177px 230px;
	border-radius: 16px;
}
.invitation_wrapper h3{
	font-family: Merriweather-Bold;
	font-size: 50px;
	letter-spacing: 7.04px;
}
.invitation_wrapper p{
	font-family: Merriweather-Regular;
	font-size: 15px;
	padding: 36px 300px 24px 0;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.80);
}
.btn{
	background-color: transparent;	
}

/* COMING SOON SECTION */

.coming{
	padding: 10%;
}
.coming_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.coming_wrapper > div{
	width: 33%;
	margin-right: 90px;
}
.left{
	margin-right: 40px!important;
}
.left h5{
	font-family: Inter-Regular;
	font-size: 24px;
	color: #f00;
}
.left h3{
	margin: 12px 0;
	font-family: Merriweather-Bold;
	font-size: 40px;
	color: #070211;
}
.left p{
	font-family: Merriweather-Regular;
	font-size: 14px;
	line-height: 24px;
	color: rgba(7, 2, 17, 0.60);
}
.mid{
	padding: 14px;
	border: 5px solid #f00;
	border-radius: 50%;
}
.mid img{
	width: 100%;
	border-radius: 50%;
}
.right h4{
	font-family: Inter-Regular;
	font-size: 32px;
	color: #f00;
}
.right p{
	margin: 12px 0;
	font-family: Inter-Regular;
	color: rgba(7, 2, 17, 0.60);
}
.right img{
	width: 120px;
}

/* PORTFOLIO SECTION */
.portfolio{
	text-align: center;
}
.portfolio_wrapper{
	margin: auto;
	width: 80%;
}
.portfolio_text{
	padding-right: 320px;
}
.portfolio_text h5{
	margin: 16px 0;
	font-family: Inter-Regular;
	font-size: 24px;
	color: #f00;
}
.portfolio_text h3{
	font-family: Merriweather-Bold;
	font-size: 48px;
	color: #070211;
}
.portfolio_text p{
	margin: 16px 0;
	font-family: Merriweather-Regular;
	font-size: 16px;
	line-height: 24px;
	color: rgba(7, 2, 17, 0.60);
}
.portfolio_img_container{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}
.portfolio_img_container li{
	width: 32%;
	
}
.portfolio_img_container li img{
	width: 100%;
}
.portfolio_img_container li:hover img{
	transform: scale(.97);
}

/* NEWSLETTER SECTION */
.newsletter{
	padding: 10%;
}
.newsletter_wrapper{
	font-size: 0;
	text-align: center;
	padding: 80px 182px;
	border-radius: 16px;
	background: rgba(255, 0, 0, 0.05);
}
.newsletter_wrapper img{
	width: 150px;
}
.newsletter_wrapper h3{
	font-family: Merriweather-Bold;
	font-size: 48px;
	color: #070211;
	margin: 40px 0 22px;
}
.newsletter_wrapper p{
	margin: 16px 0;
	font-family: Merriweather-Regular;
	font-size: 16px;
	line-height: 24px;
	color: rgba(7, 2, 17, 0.60);
}
input{
	border: none;
	padding: 12px 16px;
	border-radius: 24px 0 0 24px;
}
.news_btn{
	background-color: #f00;
	padding: 12px 16px;
	border-radius: 0 24px 24px 0;
}

/* FOOTER SECTION */
footer{
	padding: .5% 10% 5%;
	font-family: Inter-Regular;
	background-color: #070211;
}
.footer_contact{
	margin: 60px 0 0;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.footer_contact > div p{
	margin-bottom: 8px;
}
hr{
	margin: 48px 0;
	background-color: rgba(255, 255, 255, 0.15);
	height: 1px; 
	border: 0; 
}
.footer_icons ul{
	display: flex;
	justify-content: center;
}
.footer_icons ul li{
	width: 64px;
	margin: 10px;
	list-style: none;
}
.footer_icons ul li img{
	width: 100%;
}
.footer_copyrights{
	display: flex;
	justify-content: space-between;
}
